#import the car_price dataset #extract all the values that is not null from the dataset to a new variable #extract all the null vauee from the dataset into a new variable #drop all columns containing null values from the original dataset #clean the dataset so it deosn't have any null value again #compute the sum, mean of the price column on the dataset #get the car with the lowest price and with the highest price

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
dataset = pd.read_csv('carprice.csv', encoding = "ISO-8859-1")
dataset

C:\Users\oluwa\AppData\Local\Temp\ipykernel_1140\949109088.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv('carprice.csv', encoding = "ISO-8859-1")

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,24/03/2016 11:52,Golf_3_1.6,privat,Angebot,480.0,test,NaN,1993.0,manuell,0.0,golf,150000,0.0,benzin,volkswagen,NaN,24/03/2016 0:00,0.0,70435.0,07/04/2016 3:16
1,24/03/2016 10:58,A5_Sportback_2.7_Tdi,privat,Angebot,18300.0,test,coupe,2011.0,manuell,190.0,NaN,125000,5.0,diesel,audi,ja,24/03/2016 0:00,0.0,66954.0,07/04/2016 1:46
2,14/03/2016 12:52,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800.0,test,suv,2004.0,automatik,163.0,grand,125000,8.0,diesel,jeep,NaN,14/03/2016 0:00,0.0,90480.0,05/04/2016 12:47
3,17/03/2016 16:54,GOLF_4_1_4__3TÃœRER,privat,Angebot,1500.0,test,kleinwagen,2001.0,manuell,75.0,golf,150000,6.0,benzin,volkswagen,nein,17/03/2016 0:00,0.0,91074.0,17/03/2016 17:40
4,31/03/2016 17:25,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600.0,test,kleinwagen,2008.0,manuell,69.0,fabia,90000,7.0,diesel,skoda,nein,31/03/2016 0:00,0.0,60437.0,06/04/2016 10:17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371534,14/03/2016 17:48,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200.0,test,NaN,2005.0,NaN,0.0,NaN,20000,1.0,NaN,sonstige_autos,NaN,14/03/2016 0:00,0.0,39576.0,06/04/2016 0:46
371535,05/03/2016 19:56,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199.0,test,cabrio,2000.0,automatik,101.0,fortwo,125000,3.0,benzin,smart,nein,05/03/2016 0:00,0.0,26135.0,11/03/2016 18:17
371536,19/03/2016 18:57,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200.0,test,bus,1996.0,manuell,102.0,transporter,150000,3.0,diesel,volkswagen,nein,19/03/2016 0:00,0.0,87439.0,07/04/2016 7:15
371537,20/03/2016 19:41,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400.0,test,kombi,2002.0,manuell,100.0,golf,150000,6.0,diesel,volkswagen,NaN,20/03/2016 0:00,0.0,40764.0,24/03/2016 12:45
371538,07/03/2016 19:39,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990.0,control,limousine,2013.0,manuell,320.0,m_reihe,50000,8.0,benzin,bmw,nein,07/03/2016 0:00,0.0,73326.0,22/03/2016 3:17

In [3]:
dataset

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,24/03/2016 11:52,Golf_3_1.6,privat,Angebot,480.0,test,NaN,1993.0,manuell,0.0,golf,150000,0.0,benzin,volkswagen,NaN,24/03/2016 0:00,0.0,70435.0,07/04/2016 3:16
1,24/03/2016 10:58,A5_Sportback_2.7_Tdi,privat,Angebot,18300.0,test,coupe,2011.0,manuell,190.0,NaN,125000,5.0,diesel,audi,ja,24/03/2016 0:00,0.0,66954.0,07/04/2016 1:46
2,14/03/2016 12:52,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800.0,test,suv,2004.0,automatik,163.0,grand,125000,8.0,diesel,jeep,NaN,14/03/2016 0:00,0.0,90480.0,05/04/2016 12:47
3,17/03/2016 16:54,GOLF_4_1_4__3TÃœRER,privat,Angebot,1500.0,test,kleinwagen,2001.0,manuell,75.0,golf,150000,6.0,benzin,volkswagen,nein,17/03/2016 0:00,0.0,91074.0,17/03/2016 17:40
4,31/03/2016 17:25,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600.0,test,kleinwagen,2008.0,manuell,69.0,fabia,90000,7.0,diesel,skoda,nein,31/03/2016 0:00,0.0,60437.0,06/04/2016 10:17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371534,14/03/2016 17:48,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200.0,test,NaN,2005.0,NaN,0.0,NaN,20000,1.0,NaN,sonstige_autos,NaN,14/03/2016 0:00,0.0,39576.0,06/04/2016 0:46
371535,05/03/2016 19:56,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199.0,test,cabrio,2000.0,automatik,101.0,fortwo,125000,3.0,benzin,smart,nein,05/03/2016 0:00,0.0,26135.0,11/03/2016 18:17
371536,19/03/2016 18:57,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200.0,test,bus,1996.0,manuell,102.0,transporter,150000,3.0,diesel,volkswagen,nein,19/03/2016 0:00,0.0,87439.0,07/04/2016 7:15
371537,20/03/2016 19:41,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400.0,test,kombi,2002.0,manuell,100.0,golf,150000,6.0,diesel,volkswagen,NaN,20/03/2016 0:00,0.0,40764.0,24/03/2016 12:45
371538,07/03/2016 19:39,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990.0,control,limousine,2013.0,manuell,320.0,m_reihe,50000,8.0,benzin,bmw,nein,07/03/2016 0:00,0.0,73326.0,22/03/2016 3:17

In [4]:
dataset_null = dataset[dataset.isnull()]
dataset_null

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
371535,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
371536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
371537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
371538,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
dataset_notnull = dataset[dataset.notnull()]
dataset_notnull

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,24/03/2016 11:52,Golf_3_1.6,privat,Angebot,480.0,test,NaN,1993.0,manuell,0.0,golf,150000,0.0,benzin,volkswagen,NaN,24/03/2016 0:00,0.0,70435.0,07/04/2016 3:16
1,24/03/2016 10:58,A5_Sportback_2.7_Tdi,privat,Angebot,18300.0,test,coupe,2011.0,manuell,190.0,NaN,125000,5.0,diesel,audi,ja,24/03/2016 0:00,0.0,66954.0,07/04/2016 1:46
2,14/03/2016 12:52,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800.0,test,suv,2004.0,automatik,163.0,grand,125000,8.0,diesel,jeep,NaN,14/03/2016 0:00,0.0,90480.0,05/04/2016 12:47
3,17/03/2016 16:54,GOLF_4_1_4__3TÃœRER,privat,Angebot,1500.0,test,kleinwagen,2001.0,manuell,75.0,golf,150000,6.0,benzin,volkswagen,nein,17/03/2016 0:00,0.0,91074.0,17/03/2016 17:40
4,31/03/2016 17:25,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600.0,test,kleinwagen,2008.0,manuell,69.0,fabia,90000,7.0,diesel,skoda,nein,31/03/2016 0:00,0.0,60437.0,06/04/2016 10:17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371534,14/03/2016 17:48,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200.0,test,NaN,2005.0,NaN,0.0,NaN,20000,1.0,NaN,sonstige_autos,NaN,14/03/2016 0:00,0.0,39576.0,06/04/2016 0:46
371535,05/03/2016 19:56,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199.0,test,cabrio,2000.0,automatik,101.0,fortwo,125000,3.0,benzin,smart,nein,05/03/2016 0:00,0.0,26135.0,11/03/2016 18:17
371536,19/03/2016 18:57,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200.0,test,bus,1996.0,manuell,102.0,transporter,150000,3.0,diesel,volkswagen,nein,19/03/2016 0:00,0.0,87439.0,07/04/2016 7:15
371537,20/03/2016 19:41,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400.0,test,kombi,2002.0,manuell,100.0,golf,150000,6.0,diesel,volkswagen,NaN,20/03/2016 0:00,0.0,40764.0,24/03/2016 12:45
371538,07/03/2016 19:39,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990.0,control,limousine,2013.0,manuell,320.0,m_reihe,50000,8.0,benzin,bmw,nein,07/03/2016 0:00,0.0,73326.0,22/03/2016 3:17

#import the car_price dataset #extract all the values that is not null from the dataset to a new variable #extract all the null vauee from the dataset into a new variable #drop all columns containing null values from the original dataset #clean the dataset so it deosn't have any null value again #compute the sum, mean of the price column on the dataset #get the car with the lowest price and with the highest price

In [6]:
dataset.dropna(axis = 'columns', how = 'all').isnull()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371534,False,False,False,False,False,False,True,False,True,False,True,False,False,True,False,True,False,False,False,False
371535,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
371536,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
371537,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
371538,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [7]:
price = dataset['price']
np.mean(price)

17295.439494748854

In [8]:
price = dataset['price']
np.sum(price)

6425912999.0

In [9]:
#dataset = dataset.set_index('name')
dataset

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,24/03/2016 11:52,Golf_3_1.6,privat,Angebot,480.0,test,NaN,1993.0,manuell,0.0,golf,150000,0.0,benzin,volkswagen,NaN,24/03/2016 0:00,0.0,70435.0,07/04/2016 3:16
1,24/03/2016 10:58,A5_Sportback_2.7_Tdi,privat,Angebot,18300.0,test,coupe,2011.0,manuell,190.0,NaN,125000,5.0,diesel,audi,ja,24/03/2016 0:00,0.0,66954.0,07/04/2016 1:46
2,14/03/2016 12:52,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800.0,test,suv,2004.0,automatik,163.0,grand,125000,8.0,diesel,jeep,NaN,14/03/2016 0:00,0.0,90480.0,05/04/2016 12:47
3,17/03/2016 16:54,GOLF_4_1_4__3TÃœRER,privat,Angebot,1500.0,test,kleinwagen,2001.0,manuell,75.0,golf,150000,6.0,benzin,volkswagen,nein,17/03/2016 0:00,0.0,91074.0,17/03/2016 17:40
4,31/03/2016 17:25,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600.0,test,kleinwagen,2008.0,manuell,69.0,fabia,90000,7.0,diesel,skoda,nein,31/03/2016 0:00,0.0,60437.0,06/04/2016 10:17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371534,14/03/2016 17:48,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200.0,test,NaN,2005.0,NaN,0.0,NaN,20000,1.0,NaN,sonstige_autos,NaN,14/03/2016 0:00,0.0,39576.0,06/04/2016 0:46
371535,05/03/2016 19:56,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199.0,test,cabrio,2000.0,automatik,101.0,fortwo,125000,3.0,benzin,smart,nein,05/03/2016 0:00,0.0,26135.0,11/03/2016 18:17
371536,19/03/2016 18:57,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200.0,test,bus,1996.0,manuell,102.0,transporter,150000,3.0,diesel,volkswagen,nein,19/03/2016 0:00,0.0,87439.0,07/04/2016 7:15
371537,20/03/2016 19:41,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400.0,test,kombi,2002.0,manuell,100.0,golf,150000,6.0,diesel,volkswagen,NaN,20/03/2016 0:00,0.0,40764.0,24/03/2016 12:45
371538,07/03/2016 19:39,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990.0,control,limousine,2013.0,manuell,320.0,m_reihe,50000,8.0,benzin,bmw,nein,07/03/2016 0:00,0.0,73326.0,22/03/2016 3:17

In [10]:
# return president with maximum height
#pres_name[pres_height.argmax()]
# pres_height.argmax()
# pres_name[15]

In [11]:
price = dataset['price']
price.argmax()
dataset.iloc[129969]['name']

'Kaufe_AUTOS_Zum_basteln'

In [16]:
price = dataset['price']
price.argmin()
dataset.iloc[7]['name']

'VW_Derby_Bj_80__Scheunenfund'

# Another Method to find the car with the highest and lowest price

In [13]:
name = dataset['name']
price = dataset['price']
name[price.argmax()]

'Kaufe_AUTOS_Zum_basteln'

In [14]:
name = dataset['name']
price = dataset['price']
name[price.argmin()]

'VW_Derby_Bj_80__Scheunenfund'